.linha-cima{
        background:blue;
        padding: 50px;
        width: auto;
        margin: auto;
    }


    .o1{
        float: left;
        padding: auto;
    
        }
        
        
        .o2{
     
        float: center;
        padding: auto;
       
        }
        
       .o3{
           float: right;
           padding: auto;
          margin: auto;
        
        
        
        }